/* CSS 파일
    파일 전체가 style 태그 내부라고 생각하면 됨
    -> 선택자, CSS 코드 작성
    */

    /* 기본 속성 선택자 */

    /* div태그 중 name 속성 값이 "name-1"인 요소의 배경색 지정 */
    div[name="name-1"]{ background-color: coral;}

    /* p태그 중 name 속성 값이 "name-1"인 요소의 배경색 지정 */
    p[name='name-1']{background-color: violet;}

    /*  name 속성 값이 "name-2"인 요소의 배경색 지정 */
    [name=name-2]{background-color: slateblue;}

    /* class 속성 값이 name-test인 요소 중 
        name 속성 값이 name-2인 요소만 선택*/
    .name-test[name='name-2']{color: white;}
