<!DOCTYspanE html>
    <html lang="ko" xmlns:th="htttspan://thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta name="viewspanort" content="width=device-width, initial-scale=1.0">
        <title>resultspanage</title>

    </head>

    <body style="font-weight: bold;">


        <p>
            <span th:text="${name}" style="font-size: 25px; font-weight: bold;">이름</span> 
            <span style="font-size: 25px; font-weight: bold;">님의 구매 목록</span>
        </p>

        <p>검은 펜 
            <span th:text="${blackPen}">수량</span>개 : <span th:text="${blackPen}*500"></span>
        </p>

        <p>빨간 펜 
            <span th:text="${redPen}">수량</span>개 : <span th:text="${redPen}*700"></span>
        </p>

        <p>파란 펜 
            <span th:text="${bluePen}">수량</span>개 : <span th:text="${bluePen}*700"></span>
        </p>

        <p>화이트 
            <span th:text="${white}">수량</span>개 : <span th:text="${white}*1000"></span>
        </p>

        <hr>

        <p>총합 
            <span th:text="${total}"></span>원을 결제하셨습니다.
        </p>


    </body>

    </html>