@media screen {
    


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    background-color: white;
    min-width: 1040px;
    position: sticky;
    top: 0;
    z-index: 1000px;
    margin: auto;
    height: 55px;
    display: flex;
    flex-direction: row; 
    align-items: center;
    border-bottom: 1px solid black;
    }

.semi{

    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;

}

.semi > section:nth-child(1){
    width: 20%;
}

#logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    height: 50px;
}

.semi > section:nth-child(3){
    width: 20%;
}

.search-area{
    display: flex;
    flex-direction: row;
    width: 50%;
}

.search-area>section:nth-child(1){
    width: 50px;
}

.search-area>section:nth-child(2){
    
    width: 100%;
    display: grid;
    grid-template-columns: 100% 0 0;
    align-items: center;   
}


.search-area fieldset{
    border: 2px solid #455ba8;
    padding: 2px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 100% 0 0;
    justify-content: center;
    
    
}

#query{
    border: none;
    outline: 0;

    font-size: 15px;
    font-weight: lighter;
    padding: 5px;
    padding-left: 20px;

    width: 100%;
}

input{
    background-image: url(/images/images/search.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 16px;

}

.top-menu{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto;
    width: 100px;
    
}



.top-menu > ul{

    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.top-menu li > a{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    
}

.top-menu li:nth-child(1){
    width: 100px;
    display: flex;
    justify-content: center;
    padding-left: auto;
}

.top-menu li:nth-child(2){
    width: 100px;
    display: flex;
    justify-content:  center;
    padding: auto;

}

.top-menu li:nth-child(3){  
    width: 100px;
    display: flex;
    justify-content: center;
    padding: auto;
}


.top-menu li:nth-child(4){
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    padding: auto;

}

.top-menu li:nth-child(1) a> img{
    width: 50%;
    height: auto;
    padding: 5%;


}
.top-menu li:nth-child(2) a> img{
    width: 50%;
    height: auto;
    padding: 5%;

}
.top-menu li:nth-child(3) a> img{
    width: 50%;
    height: auto;
    filter: invert(34%) 
            sepia(82%) 
            saturate(369%) 
            hue-rotate(178deg) 
            brightness(103%) 
            contrast(85%);
    padding: 5%;
}

.top-menu li:nth-child(4) a> img{
    width: 50%;
    height: auto;
    padding: 5%;

}

.top-menu a{
    
    text-decoration: none;
    color: black;
    padding: auto 11px 0 11px;
}

.top-menu a:hover{
    color: black;
    background-color: #455ba8;
    transition-duration: 0.5s;

    
    
}

#searchBtn{
    display: none;
}


}
