* {
    box-sizing: border-box; 
    
    margin: 0;
    padding: 0;
}
    


.container{
    border: 1px, solid black;
}


.container {
    /* background-color: royalblue; */
    border: 1px solid black;;
    height: 56px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: sticky ;
    background-color: white;

}


/* 홈 로고 영역 */
.home-logo {
    height: 56px;
    display: grid;
}

.home-logo>a{
    height: 56px;
    align-items: center;
    padding: 5px;
    padding-left: 100px;
}

.home-logo>a>img{
    height: 35px;
    display: grid;
    grid-template-rows: auto;
    align-content: center;
}

/* 검색창 영역 */

.search-area{
    display: flex;
    justify-content: center;
    padding: 6px;
    padding-left: 103px;
    /* border: 1px solid black; */
    height: 50px;
    width: 1120px;
    border-radius: 20px;

}

.search-area #searchBox{
    border: 1px solid #455ba8;
    border-radius: 20px;
    height: 41px;
    width: 450px;
    display: grid;
    align-items: center;
    padding: 6px;
    
}

#query{
    border: none;
    outline: 0;

    font-size: 15px;
    font-weight: lighter;
    
    width: 100%;
    height: 25px;

    display: grid;
    align-items: center;
    
    padding-left: 25px;
    border-radius: 20px;
}

#searchBtn{
    display: none;
}

input{
    background-image: url(/images/images/search.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 16px;
    
}

/* 상단 메뉴 탭 영역 */

/* 리스트 스타일을 없애기 */

ul li{
    list-style: none;
    width: 100px;
}


.menu > li{
    
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

a {
    
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #333;
   
}


.menu > li > ul {
    width:130px;
    display:none;
    position: absolute;
    font-size:14px;
    background: skyblue;
}

.menu > li:nth-child(3) > a{
    justify-content: center;
}


.menu{
    font:bold 16px "malgun gothic";
    padding: 8px;
    height:56px;
    color:black;
    /* line-height: 50px;  */
    
    text-align: center;
}




.menu > ul > li {
    float:left;
    width:140px;
    position:relative;
}



.top-menu> ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-right: 25px;
}



#openBtn1, #openBtn2, #openBtn3, #openBtn4{
    border: 0;
    outline: none;
    cursor: pointer;
    background-color: white;
}



/* 상단바 아이콘 hover */
.top-menu>.menu>li:nth-child(1)>a:hover{
    background-color: #ccc;
    border-radius: 5px;
}
.top-menu>.menu>li:nth-child(2)>a:hover{
    background-color: #ccc;
    border-radius: 5px;
}

#openBtn1:hover {
    background-color: #ccc;
    border-radius: 5px;
    
}
#openBtn2:hover {
    background-color: #ccc;
    border-radius: 5px;

}
#openBtn3:hover {
    background-color: #ccc;
    border-radius: 5px;
    
}



/* 메뉴 이미지 설정 영역 */



.top-menu>.menu>li:nth-child(1)>a>img{
    height: 35px;
    padding: 3px;
    
}
.top-menu>.menu>li:nth-child(2)>a>img{
    height: 35px;
    padding: 3px;
    
}


/* 열기, 닫기 버튼 영역 - 이미지 */
#openBtn1>img{
    height: 35px;
    padding: 3px;
   
    filter: invert(34%) 
    sepia(82%) 
    saturate(369%) 
    hue-rotate(178deg) 
    brightness(103%) 
    contrast(85%);
    cursor: pointer;
    border: none;
}

#openBtn2>img{
    height: 35px;
    padding: 3px;
    cursor: pointer;

}

#openBtn3>img{
    height: 35px;
    padding: 3px;
    cursor: pointer;
}


/* nav관련 설정 : 상단바 아이콘 클릭시 */

/* .nav1{ display: block !important;}

.nav1 > ul{
    background-color: white;
    width: 100px;
    height: 100px;
    flex-direction: row;
    align-content: center;

}
.nav2 > ul{
    background-color: white;
    width: 500px;
    height: 100px;
    flex-direction: row;
    align-content: center;

}
.nav3 > ul{
    background-color: white;
    width: 500px;
    height: 100px;
    flex-direction: row;
    align-content: center;

} */









